  #b1
  {
       color: white;
       width: 100px; 
       height: 50px; 
       background-color: rgba(1,31,71,0.7);
       border-radius: 10px 50px 10px 50px;
  }
  #b1:hover
  {
      color: white;
      width: 100px;
      height: 55px;
      font-size: 18px;
      background-color: rgb(33, 91, 154 );
      border: none;
      border-radius: 10px 50px 10px 50px;
      transition: 0.5s;
  }
  #b2
  {
       color: white;
       width: 200px; 
       height: 50px; 
  }
  #b2:hover
  {
      color: white;
      width: 200px;
      height: 55px;
      font-size: 18px;
      background-color: rgb(33, 91, 154 );
      border: none;
      border-radius: 10px 50px 10px 50px;
      transition: 0.5s;
  }  
  #b3
  {
       color: white;
       width: 100px; 
       height: 40px; 
  }
  #b3:hover
  {
      color: white;
      width: 105px;
      height: 40px;
      font-size: 18px;
      background-color: rgb(33, 91, 154 );
      border: none;
      border-radius: 20px;
      transition: 0.2s;
  }  
  #field1
  {
      padding-left: 20px;
      color: #142165;
      width: 400px;
      height: 50px;
      font-size: 18px;
      border: 1px solid #2F3A75;
      border-radius: 10px 50px 10px 50px;
      transition: 0.3s;
      font-weight: bold;
  }
  #heading1
  {
      margin-top:-10px;
      padding-top:5px;
      color: white;
      width: 100%;
      height: 50px;
      background-color: rgb(1,31,71);
      border-radius: 10px 60px 10px 60px;
      font-weight: bold;
      text-align: center;
  }
  
  h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:SlateBlue;
  text-align: center; 
  text-decoration: underline
}

table{
  font-family: Calibri; 
  color:rgb(1,31,71);
  font-size: 12pt; 
  font-style: normal;
  font-weight: bold; 
  border-collapse: collapse; 
  
}
table.inner{
  border: 0px
}
input{
    font-size: 18px;
    padding-left: 25px;
    color:black;
    font-weight: bold;
    width: 320px;
    height: 40px;
    border: 1px solid #2F3A75;
    border-radius: 30px;
}
